/* swiper 공통 */
.swiper .btn-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  margin-top: 40px;
}

.swiper .btn-prev {
  width: 32px;
  height: 32px;
  width: 33px;
  background-image: url("	https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png");
  background-size: 328px 205px;
  background-position: -187px -172px;
}
.swiper .btn-next {
  width: 32px;
  height: 32px;
  width: 33px;
  background-image: url("https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png");
  background-size: 328px 205px;
  background-position: -113px -172px;
}
.swiper .btn-wrap .swiper-button-disabled {
  opacity: 0.3;
}

.sc-visual .swiper {
  position: relative;
}
.sc-visual .swiper-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.sc-visual .swiper-slide {
  width: 100%;
  height: 100%;
}
.sc-visual .swiper-slide video {
  width: 100%;
  height: 544px;
  object-fit: cover;
  pointer-events: none;
}

.sc-visual .swiper-slide .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sc-visual .swiper .swiper-slide br {
  display: none;
}
.sc-visual .swiper .swiper-slide .text {
  overflow: hidden;
  font-size: 100px;
  line-height: 1.2;
  letter-spacing: -2.4px;
  font-weight: 800;
  white-space: nowrap;
  color: #fff;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.16);
  padding: 20px;
  opacity: 0;
  width: 0%;
  transition: opacity 0.5s 0.8s, width 0.3s 0.8s;
}
.sc-visual .swiper .swiper-slide-active .text {
  opacity: 1;
  width: 100%;
}

.sc-search {
  /* display: flex;
  width: 1200px;
  height: 54px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  bottom: -24px; */
}
.sc-search .inner {
}
.sc-search form {
  position: relative;
}
.sc-search .content {
  background: #fff;
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  transform: translateY(-50%);
}

.sc-search .search-wrap {
  display: flex;
  align-items: center;
  padding: 0 28px 0 21px;
}

.sc-search .search-wrap .search {
  display: block;
  background-image: url("	https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png");
  background-size: 328px 205px;
  background-position: -245px -40px;
  width: 18px;
  height: 18px;
}

.sc-search .input-wrap {
  display: flex;
  flex: 1;
  font-size: 14px;
  align-items: center;
  font-weight: bold;
}
.sc-search .input-wrap .desc {
  margin-right: 9px;
}
.sc-search .input-wrap .search-input {
  flex: 1;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 54px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.sc-search .select-wrap {
  display: flex;
  flex: 1;
  align-items: center;
}

.sc-search .select-wrap .text {
  font-size: 14px;
  line-height: 54px;
  color: #000;
  font-weight: bold;
}

.sc-search .select-wrap .select-list-wrap {
  position: relative;
  flex: 1;
}

.sc-search .select-wrap .select-box {
  position: relative;
  width: 100%;
  padding: 0 25px 0 9px;
  font-size: 14px;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #d0d0d0;
  cursor: pointer;
  background-image: url("https://recruit.navercorp.com/share/tmplat/naver/img/recruit/ico_arrow_down.png");
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 8px 5px;
}
.sc-search .select-wrap .select-box option:disabled {
  display: none;
}

.sc-search .select-wrap .job-text {
  font-size: 14px;
  line-height: 54px;
  color: #000;
  font-weight: bold;
}

.sc-search .select-wrap .job-select-list-wrap {
  position: relative;
  flex: 1;
}

.sc-search .select-wrap .job-select-list-wrap .job-select-box {
  position: relative;
  width: 100%;
  padding: 0 25px 0 9px;
  font-size: 14px;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #d0d0d0;
  cursor: pointer;
  background-image: url("https://recruit.navercorp.com/share/tmplat/naver/img/recruit/ico_arrow_down.png");
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 8px 5px;
}

.sc-search .search-btn-wrap {
  display: inline-block;
  vertical-align: top;
}
.sc-search .search-btn-wrap .search-btn {
  width: 97px;
  height: 54px;
  line-height: 54px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
}

.teams {
  position: relative;
}
.teams .teams-wrap {
  padding-bottom: 89px;
  background-color: #fff;
  color: #000;
}

.teams .teams-wrap .inner {
  padding: 126px 104px 0;
  position: relative;
  max-width: 1408px;
  /* min-width: 1230px; */
  margin: 0 auto;
}

.teams .teams-wrap .inner .title-box .head-line {
  font-size: 64px;
  line-height: 71px;
  letter-spacing: -0.64px;
  margin-bottom: 20px;
  font-weight: bold;
}
.teams .teams-wrap .inner .title-box .desc {
  display: inline;
  vertical-align: middle;
  padding-right: 30px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.44px;
  font-weight: bold;
}
.teams .teams-wrap .inner .title-box a .link-more {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: -0.36px;
}

.teams .teams-wrap .inner .title-box a .link-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
}

.teams .teams-wrap .desc-wrap .team-list {
  margin-top: 70px;
}

.teams .teams-wrap .desc-wrap .team-list li:hover {
  background: #ebebeb;
}

.teams .teams-wrap .desc-wrap .team-list li a .inner {
  padding: 0 104px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.teams .teams-wrap .desc-wrap .team-list li a .inner .title-inner {
  padding: 20px 0;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.teams .teams-wrap .desc-wrap .team-list li a .inner .title-inner .headline {
  display: inline-block;
  vertical-align: top;
  font-size: 38px;
  line-height: 60px;
  letter-spacing: -0.34px;
  font-weight: normal;
}

.teams
  .teams-wrap
  .desc-wrap
  .team-list
  li
  a
  .inner
  .title-inner
  .announcement-count {
  margin-top: 13px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 18px;
  font-size: 15px;
  letter-spacing: -0.3px;
}

.teams
  .teams-wrap
  .desc-wrap
  .team-list
  li
  a
  .inner
  .title-inner
  .announcement-count::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -14px;
  background-position: -176px -105px;
  width: 9px;
  height: 9px;
  background-image: url("https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png");
  background-size: 328px 205px;
}

.teams .teams-wrap .desc-wrap .team-list li a .inner .desc-wrap {
  padding: 20px 0 20px 15px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: -0.44px;
}

.people {
  padding: 95px 0 0;
  overflow: hidden;
}

.people .inner .title-box .head-line {
  font-size: 64px;
  line-height: 71px;
  letter-spacing: -0.64px;
  margin-bottom: 20px;
  font-weight: bold;
}
.people .inner .title-box .desc {
  display: inline;
  vertical-align: middle;
  padding-right: 30px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.44px;
  font-weight: bold;
}
.people .inner .title-box a .link-more {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: -0.36px;
}

.people .inner .title-box a .link-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
}

.people .swiper {
  margin: 60px 0 0;
  overflow: initial;
}

.people .swiper .swiper-wrapper {
}

.people .swiper-slide {
}

.people .swiper-slide .img-box {
  position: relative;
  padding-bottom: calc((520 / 1097) * 100%);
  background: #f00;
}
.people .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* width: 1097px; */
  /* height: 520px; */
  /* object-fit: cover; */
}

.people .swiper-slide .text-box {
  overflow: hidden;
  margin-top: 29px;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.people .swiper-slide .text-box .text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #000;
}

.people .swiper-slide .text-box .company {
  display: inline-block;
  vertical-align: top;
}
.people .swiper-slide .text-box .name {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
}

.people .swiper-slide .text-box .name ::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 6px;
  width: 1px;
  height: 10px;
  background-color: #000;
}

.people .swiper-slide .text-box .title {
  display: inline;
  padding-right: 26px;
  line-height: 36px;
  font-size: 25px;
  letter-spacing: -0.5px;
  font-weight: bold;
}

.people .swiper-slide .text-box .link-more {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: -0.36px;
  margin-top: 4px;
}

.people .swiper-slide .text-box .link-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
}

.benefits {
  margin-top: 120px;
}

.benefits .inner .title-box .head-line {
  font-size: 64px;
  line-height: 71px;
  letter-spacing: -0.64px;
  margin-bottom: 20px;
  font-weight: bold;
}
.benefits .inner .title-box .desc {
  display: inline;
  vertical-align: middle;
  padding-right: 30px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.44px;
  font-weight: bold;
}
.benefits .inner .title-box a .link-more {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: -0.36px;
}

.benefits .inner .title-box a .link-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
}

.benefits .swiper {
  margin-top: 50px;
}
.benefits .swiper-slide {
}

.benefits .swiper-slide .content-link {
  display: block;
}
.benefits .swiper-slide .img-box {
  padding-bottom: 100%;
  position: relative;
}
.benefits .swiper-slide .img-box img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.benefits .swiper-slide .text-box {
  overflow: hidden;
  margin-top: 29px;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.benefits .swiper-slide .text-box .title {
  display: inline;
  padding-right: 26px;
  line-height: 36px;
  font-size: 25px;
  letter-spacing: -0.5px;
  font-weight: bold;
}
.benefits .swiper-slide .text-box .desc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.36px;
  color: #000;
}

.aply {
  padding: 95px 0 102px;
}

.aply .title {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.25px;
  color: #000;
}

.aply .link-more {
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
  font-size: 0;
}

.aply .link-more .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.36px;
  color: #000;
}

.aply .link-more .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  background-position: -76px -172px;
  height: 32px;
  width: 33px;
  background-image: url("	https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png");
  background-size: 328px 205px;
}

.sc-search .form2 {
  display: none;
}

/* 작은 pc 랩탑 [[[[[  1025를보고 잡음  ]]]]]]*/
@media (max-width: 1230px) {
  /* @@@ */
  .sc-visual .swiper .swiper-slide .text {
    font-size: 80px;
  }

  /* @@@@@ */
  .benefits .swiper-slide .text-box .desc br {
    display: none;
  }
}

/* 테블릿 [[[[[     768를보고 잡음   ]]]]]]*/
@media (max-width: 1024px) {
  .sc-visual .swiper .swiper-slide .text {
    font-size: 60px;
  }

  .teams .teams-wrap .inner {
    padding: 126px 50px 0;
  }
  .teams .teams-wrap .desc-wrap .team-list li a .inner {
    padding: 0 50px;
  }

  .sc-search .content {
    display: none;
  }
  .sc-search .form2 {
    position: relative;
    display: block;
    padding: 22px 0;
  }

  .sc-search .form2 .btn-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: block;
    background-image: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_mo.png);
    background-size: 195px 181px;
    background-position: -140px -125px;
    width: 19px;
    height: 19px;
  }

  .sc-search .form2 .btn-search2 {
    text-align: start;
    width: 100%;
    padding: 10px 45px 10px 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
    color: #696868;
    font-weight: bold;
    background: #ebebeb;
  }

  .sc-search .pop-search {
    overflow-y: scroll;
    padding: 60px 32px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
  }
  .sc-search .pop-search .close {
    position: absolute;
    top: 24px;
    left: 22px;
    background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_mo.png);
    background-size: 195px 181px;
    background-position: -110px -28px;
    width: 14px;
    height: 14px;
  }

  .sc-search .pop-search .filter-wrap {
  }
  .sc-search .pop-search .search-wrapper {
    position: relative;
    border-bottom: 1px solid #d0d0d0;
  }

  .sc-search .pop-search .search-wrapper.on {
    border-bottom: 1px solid #000;
  }
  .sc-search .pop-search .search {
    line-height: 26px;
    letter-spacing: 0.28px;
    text-align: left;
    width: 100%;
    padding: 6px 30px 6px 10px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: normal;
  }
  .sc-search .pop-search .search-wrapper .btn-search {
    display: block;
    background-position: -268px -40px;
    width: 15px;
    height: 15px;
    background-image: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png);
    background-size: 328px 205px;
  }
  .sc-search .pop-search.on {
    display: block;
  }

  .sc-search .pop-search .list-box {
    margin-top: 45px;
  }
  .sc-search .pop-search .list-box .title {
    line-height: 26px;
    letter-spacing: -0.28px;
    font-size: 14px;
    font-weight: bold;
  }
  .sc-search .pop-search .list {
    margin-top: 8px;
  }
  .sc-search .pop-search .list .item {
    margin-top: 14px;
  }
  .sc-search .pop-search .list .item .btn-tree {
    position: relative;
  }
  .sc-search .pop-search .list .item .desc {
    padding-left: 19px;
    line-height: 26px;
    letter-spacing: -0.28px;
    font-size: 14px;
  }
  .sc-search .pop-search .list .item .desc::before {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    content: "";
    background-position: -136px -93px;
    width: 8px;
    height: 5px;
    background-image: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png);
    background-size: 328px 205px;
  }

  .sc-search .pop-search .list .item .desc.on::before {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    content: "";
    background-position: -136px -93px;
    width: 8px;
    height: 5px;
    background-image: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png);
    background-size: 328px 205px;
    transform: rotate(-180deg);
  }
  .sc-search .pop-search .list .item .select {
    position: relative;
    margin-left: 20px;
  }

  .sc-search .pop-search .list .item .select span {
    padding-left: 19px;
    line-height: 26px;
    letter-spacing: -0.28px;
    font-size: 14px;
  }
  .sc-search .pop-search .list .item .select span::before {
    position: absolute;
    top: 11px;
    left: 0;
    width: 8px;
    height: 8px;
    content: "";
    border: 1px solid #d0d0d0;
    border-radius: 50%;
  }
  .sc-search .pop-search .list .item .select span.on::before {
    background: #000;
    border: 1px solid #fff;
  }
  .sc-search .pop-search .list .item2 .select {
    position: relative;
  }

  .sc-search .pop-search .list .item2 .select span {
    padding-left: 19px;
    line-height: 26px;
    letter-spacing: -0.28px;
    font-size: 14px;
  }
  .sc-search .pop-search .list .item2 .select span.on::before {
    position: absolute;
    top: 11px;
    left: 0;
    width: 8px;
    height: 8px;
    content: "";
    border: 1px solid #fff;
    background: #000;
    border-radius: 50%;
  }
  .sc-search .pop-search .list .item2 .select span::before {
    position: absolute;
    top: 11px;
    left: 0;
    width: 8px;
    height: 8px;
    content: "";
    border: 1px solid #d0d0d0;
    border-radius: 50%;
  }
  .sc-search .pop-search .btn-clear {
    margin-top: 42px;
    position: relative;
    top: auto;
    right: auto;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.24px;
  }

  .sc-search .pop-search .btn-clear::before {
    position: absolute;
    bottom: 3px;
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
  }
  .sc-search .pop-search .item-total {
    position: relative;
  }
  .sc-search .pop-search .text {
    padding-left: 19px;
  }
  .sc-search .pop-search .text::before {
    position: absolute;
    top: 3px;
    left: 0;
    width: 8px;
    height: 8px;
    content: "";
    border: none;
    border-radius: 50%;
    border: 1px solid #d0d0d0;
  }
  .sc-search .pop-search .text.on::before {
    background: #000;
    border: 1px solid #fff;
  }
  .form2 .sub-list {
    display: none;
  }
  .form2 .sub-list.on {
    display: block;
    padding-left: 20px;
  }
  .form2 .sub-list .sub-item {
    display: none;
  }
  .form2 .sub-list .sub-item.on {
    display: block;
  }

  .teams .teams-wrap .inner {
    padding: 0 22px;
    padding-top: 50px;
  }

  .teams .teams-wrap .inner .title-box .head-line {
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.7px;
  }
  .teams .teams-wrap .inner .title-box .desc {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
    padding-right: 17px;
  }
  .teams .teams-wrap .inner .title-box a .link-more {
    padding-top: 3px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: -0.36px;
  }
  .teams .teams-wrap .desc-wrap .team-list {
    margin-top: 30px;
  }
  .teams .teams-wrap .desc-wrap .team-list li a .inner .title-inner .headline {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.48px;
  }
  .teams .inner .title-inner .announcement-count {
    margin: 4px 0 0 14px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
  }
  .teams .teams-wrap .desc-wrap .team-list li a .inner .title-inner {
    padding: 0;
  }
  .teams .teams-wrap .desc-wrap .team-list li a .inner .desc-wrap {
    padding: 0;
    margin-top: 1px;
    width: 100%;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
    padding-bottom: 37px;
  }
  .people .inner .title-box .head-line {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.7px;
  }
  .people .inner .title-box .desc {
    padding-right: 20px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
  }
  .people .inner .title-box a .link-more {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.24px;
  }
  .people .swiper-slide .text-box .title {
    padding-right: 20px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.36px;
  }
  .people .swiper-slide .text-box .text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.28px;
    color: #000;
  }
  .benefits .inner .title-box .head-line {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.7px;
  }
  .benefits .inner .title-box .desc {
    padding-right: 20px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
  }
  .benefits .inner .title-box a .link-more {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.24px;
  }
  .benefits .swiper {
    margin-top: 20px;
  }
  .benefits .swiper-slide .text-box .title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.36px;
  }
  .benefits .swiper-slide .text-box .desc {
    margin-top: 3px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
  }
  .aply .title {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.4px;
  }
  .aply .link-more .text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
  }
  footer .policy {
    margin-left: 30px;
    display: inline-block;
  }
  footer .footer-logo {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
  }
  footer .footer-logo a {
    display: inline-block;
  }
  footer .relate-site .link-more {
    font-size: 12px;
    width: 100%;
  }
  footer .relate-site .link-more::after {
    background: #b4b4b4;
  }
  footer .policy a span {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
    color: #909090;
    font-weight: 900;
  }
  .site-list .related-list li a {
    font-size: 12px;
  }
  footer .relate-site .link-more.on::before {
    right: 5px;
  }
  footer .relate-site .link-more::before {
    top: 20px;
  }
}

/* 모바일 [[[[[    320를보고 잡음     ]]]]]]*/
@media (max-width: 767px) {
  .sc-visual .swiper-slide .img-box {
    position: relative;
    padding-bottom: calc((233 / 374) * 100%);
  }

  .sc-visual .swiper-slide video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sc-visual .swiper .swiper-slide .text {
    font-size: 40px;
    width: 100%;
  }
  .sc-visual .swiper .swiper-slide br {
    display: block;
  }

  .sc-search .form1 {
    display: none;
  }

  .teams .teams-wrap .desc-wrap .team-list li a .inner .title-inner {
    width: 100%;
  }
  .teams .teams-wrap .desc-wrap .team-list li a .inner .desc-wrap {
    width: 100%;
  }
  .teams .teams-wrap .desc-wrap .team-list li a .inner {
    padding: 0 22px;
    flex-direction: column;
  }

  /*  */

  .people .swiper-slide .img-box {
    padding-bottom: 100%;
  }

  .sc-search .form2 {
    display: block;
    padding: 10px 0;
  }
  .sc-search .btn-search2 {
    background: #ccc;
    width: 100%;
  }
  .sc-search .pop-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
  }
  .sc-search .pop-search.on {
    display: block;
  }
}
